.DS_Store
/Library/
/Projects/Eclipse/RemoteSystemsTempFiles/
/Projects/Eclipse/.metadata/
/Projects/Eclipse/jp.co.aquariumy.audioio/bin/
/Projects/Eclipse/jp.co.aquariumy.audioio.samsung/
/iOS/
*.apk