/Library/
/Temp/
/Projects/Eclipse/.metadata/
/Projects/Eclipse/.recommenders/
/Projects/Eclipse/RemoteSystemsTempFiles/
/Projects/Eclipse/jp.co.aquariumy.audioio/bin/
/Projects/Eclipse/jp.co.aquariumy.audioio/obj/
/Projects/Eclipse/jp.co.aquariumy.audioio.samsung/
/Projects/Eclipse/jp.co.aquariumy.audioio.aaudio/bin/
/Projects/Eclipse/jp.co.aquariumy.audioio.aaudio/obj/
/iOS/
*.apk
*.csproj
*.sln
.DS_Store
audioio.userprefs
